body {
    padding: 1em;
    background-color: grey;
    line-height: 200%;
}

.row {
    position: relative;
    width: calc(100vw-2em);
    height: 4.15vw;
    background-color: grey;
    display: grid;
    grid-template-columns: repeat(24, minmax(0, 1fr));
    grid-template-rows: auto;
}
#row square {
    background-color: grey;
    font-size: min(3vw, 16px);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #B3B3B3;
}
.p1 {
    line-height: 95%;
    color: #B3B3B3;
