body {
    padding: 1em;
    background-color: grey;
    line-height: 200%;
}

.row {
    position: relative;
    width: calc(100vw-2em);
    height: 4.15vw;
    background-color: grey;
    display: grid;
    grid-template-columns: repeat(24, minmax(0, 1fr));
    grid-template-rows: repeat(1, 4.15vw);
}
#row square {
    font-size: min(2.5vw, 20px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.p1 {
    line-height: 100%;
    color: white;
}

a:link, a:visited {
    color: #3333ff;
}
a:hover, a:active {
    color: blue;
}
