body {
	background-color: black;
}

.bgDiv {
	z-index: 1;
	position: absolute;
	background-color: black;
	height: 80vh;
	width: 48.3vh;
	top: 2vh;
	left: calc(50vw - 24.2vh);
}

.next {
	z-index: 3;
	position: absolute;
	background-color: black;
	height: 9vh;
	width: 25vw;
	top: 84vh;
	right: 5vw;

}

.back {
	z-index: 7;
	position: absolute;
	background-color: black;
	height: 9vh;
	width: 25vw;
	top: 84vh;
	left: 5vw;
}
.final {
	z-index: 7;
	position: absolute;
	background-color: black;
	height: 9vh;
	width: 25vw;
	top: 84vh;
	left: 37.5vw;
}

.links {
	z-index: 4;
	position: absolute;
	background: none;
	height: 14vh;
	width: 48.3vh;
	top: 18vh;
	left: calc(50vw - 24.2vh);
	font-size: 1em;
	font-family: Arial;
	color: black;
	
}
p {
	padding: 4px;
	margin: 0px;
	font-size: 16px;
	font-family: Arial;
	background-color: rgb(255, 255, 255, 0.35);
	color: black;
}

.links2 {
	z-index: 5;
	position: absolute;
	background-color: none;
	height: 40vh;
	width: 35vh;
	top: 35vh;
	left: calc(50vw - 24.2vh);
	font-size: 18px;
	font-family: Arial;
	color: red;
}



a:link {
	text-decoration: underline;
	font-size: 18px;
	font-family: Arial;
	background-color: black;
	color: red;
}

a:visited {
	text-decoration: underline;
	font-size: 18px;
	font-family: Arial;
	background-color: black;
	color: darkred;
}

a:hover, a:active {
	text-decoration: underline;
	font-size: 18px;
	font-family: Arial;
	background-color: black;
	color: red;
}
